<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= @hello.title %></title>
    </head>
    <body>
        <h1><%= @hello.message %></h1>
        <h1>this is new</h1>
        <br/>
        Environment: <%= @hello.env %>
    </body>
</html>
